<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.jtknife">

    <application
        android:name=".MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".modules.feature.FeatureSampleActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".modules.testlist.SwipeRefreshRecyclerViewSampleActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".modules.live.LiveRoomActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|adjustNothing" />
        <activity
            android:name=".modules.live.WatchActivity"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".modules.live.WatchActivityV2"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing"/>
        <activity
            android:name=".modules.stackblur.StackBlurActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>